@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;word-break:break-all;word-wrap: break-word; font-family:"Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;}
a{color:#185697;text-decoration:none;}
a:hover {text-decoration:none;color:#f30;}
Img{border:0;vertical-align:middle;}
ul{list-style-type:none;}
body{font-size:12px; line-height:22px;color:#333;}
ul li{margin-top:5px;margin-left: 40px;}

			