{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jasonhaven's Home</title>
    <!--========Logo==========-->
    <!--标题栏：-->
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <!--收藏夹：-->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <!--==== bootstrap ====-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--==== font-awesome ====-->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!--==== owl-carousel ====-->
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <!--==== magnific-popup ====-->
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <!--==== animate css ====-->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <!--==== style css ====-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!--==== responsive css ====-->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!--==== jquery ====-->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
<!--==== DEMO COLOR PANEL =====-->
<div class="demo_panel_box">
    <div class="color_panel_box">
        <div class="spiner_button slide_in_out"><i class="fa fa-cog fa-spin"></i></div>
        <span class="red_color"></span>
        <span class="blue_color"></span>
        <span class="yellow_color"></span>
        <span class="purple_color"></span>
        <span class="pink_color"></span>
        <span class="green_color"></span>
    </div>
</div>
<!--==== DEMO COLOR PANEL ===-->

<!--===== Preloader ====-->
<div class="preloader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

{% block main_content %}{% endblock %}
{% include 'footer.html' %}