{% load staticfiles %}
<!--======******************** CONTACT INFO SECTION **********************======-->
<section id="contact" class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span class="theme-color">Get in tuch with me</span> Contact</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
                <!-- Start Contact Form -->
                <form id="contactForm" class="contact-form shake" data-toggle="validator">{% comment %}异步提交-main.js{% endcomment %}
                    {%  csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" required
                                           data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="email" name="email" class="email form-control" id="email" placeholder="Email"
                                           required data-error="Please enter your email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" id="msg_subject" name="msg_subject" class="form-control" placeholder="Subject"
                                           required data-error="Please enter your message subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    <textarea id="message" rows="7" name="message" placeholder="Message" class="form-control" required
                                              data-error="Write your message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" id="submit" class="btn btn-effect theme-color"><i
                                    class="fa fa-check"></i> Send
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>


                </form>
                <!-- End Contact Form -->
            </div>
        </div>
    </div>
</section>
<!--======**************** END CONTACT INFO SECTION ********************======-->


<!--======******************* FOOTER SECTION ******************======-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="footer-text wow fadeInUp" data-wow-delay="0.4s">
                    <p>Copyright &copy; 2017 Jasonhaven All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--======******************* END FOOTER SECTION ***************======-->
<!--==== plugins js ====-->
<script src="{% static 'js/plugins.js' %}"></script>
<!--==== magnific-popup-options js ====-->
<script src="{% static 'js/magnific-popup-options.js' %}"></script>
<!--==== validator js ====-->
<script src="{% static 'js/validator.min.js' %}"></script>
<!--==== particles js ====-->
<script src="{% static 'js/particles.min.js' %}"></script>
<!--==== app js ====-->
<script src="{% static 'js/app.js' %}"></script>
<!--==== app js ====-->
<script src="{% static 'js/wow-1.3.0.min.js' %}"></script>
<!--==== main js ====-->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>