{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>My Resume</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--标题栏：-->
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <!--收藏夹：-->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'resume_assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'resume_assets/plugins/font-awesome/css/font-awesome.css' %}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'resume_assets/css/styles.css' %}">

</head>

<body>

<header class="header" id="top">
    <div class="top-bar container-fluid">
        <div class="actions">
            <a class="btn" href="/HomeMe"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <a class="btn hidden-xs" href="mailto:jasonhaven@163.com"><i class="fa fa-paper-plane"
                                                                         aria-hidden="true"></i> Hire Me</a>
            <a class="btn" href="download"><i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>
        </div><!--//actions-->
    </div><!--//top-bar-->

    <div class="intro">
        <div class="container text-center">
            <img class="profile-image" src="{% static 'resume_assets/images/profile-image.png' %}" alt="Concat me">
            <h1 class="name">JiangHai Dai</h1>
            <div class="title">Reading college students</div>
            <div class="profile">
                <p>
                    据说有一位软件工程师，一位硬件工程师和一位项目经理同坐车参加研讨会。不幸在从盘山公路下山时坏在半路上了。于是两位工程师和一位经理就如何修车的问题展开了讨论。硬件工程师说：“我可以用随身携带的瑞士军刀把车坏的部分拆下来，找出原因，排除故障。”
                    项目经理说：“根据经营管理学，应该召开会议，根据问题现状写出需求报告，制订计划，编写日程安排，逐步逼近，alpha测试，beta1测试和beta2测试解决问题。”
                    软件工程说：“咱们还是应该把车推回山顶再开下来，看看问题是否重复发生。”</p>
            </div><!--//profile-->
        </div><!--//container-->
    </div><!--//intro-->

    <div class="contact-info">
        <div class="container text-center">
            <ul class="list-inline">
                <li class="email"><i class="fa fa-envelope"></i><a
                        href="mailto:jasonhaven@163.com">jasonhaven@163.com</a>
                </li>
                <li><i class="fa fa-qq"></i> <a href="#top">951771966</a></li>
                <li><i class="fa fa-wechat"></i> <a href="#top">d15132060232</a></li>
            </ul>
        </div><!--//container-->
    </div><!--//contact-info-->

    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    <li><a class="scrollto" href="#experiences-section">Introduction</a></li>
                    <li><a class="scrollto" href="#eudcation-section">Education</a></li>
                    <li><a class="scrollto" href="#skills-section">Skills</a></li>
                    <li><a class="scrollto" href="#contact-section">Contact</a></li>
                </ul><!--//page-nav-->
            </div>
        </div><!--//page-nav-wrapper-->
    </div>

</header><!--//header-->

<div class="wrapper container">
    <section id="experiences-section" class="experiences-section section">
        <h2 class="section-title">Personal Introduction</h2>
        <div class="timeline">
            <div class="item">
                <div class="work-place">
                    <h3 class="place">Google</h3>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Mountain View</div>
                </div>
                <div class="job-meta">
                    <div class="title">Senior Software Engineer</div>
                    <div class="time">2016 - Present</div>
                </div><!--//job-meta-->
                <div class="job-desc">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo,
                        fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                        venenatis vitae, justo.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Donec pede justo ante</li>
                        <li>Maecenas tempus tellus eget</li>
                    </ul>
                </div><!--//job-desc-->
            </div><!--//item-->

            <div class="item">
                <div class="work-place">
                    <h3 class="place">Apple</h3>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>New York</div>
                </div>
                <div class="job-meta">
                    <div class="title">Lead Software Engineer</div>
                    <div class="time">2015 - 2016</div>
                </div><!--//job-meta-->
                <div class="job-desc">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo,
                        fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                        venenatis vitae, justo.</p>
                </div><!--//job-desc-->
            </div><!--//item-->

            <div class="item">
                <div class="work-place">
                    <h3 class="place">Twitter</h3>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>London</div>
                </div>
                <div class="job-meta">
                    <div class="title">Software Engineer</div>
                    <div class="time">2013 - 2015</div>
                </div><!--//job-meta-->
                <div class="job-desc">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo,
                        fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                        venenatis vitae, justo.</p>
                </div><!--//job-desc-->
            </div><!--//item-->

            <div class="item">
                <div class="work-place">
                    <h3 class="place">Startup Hub</h3>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>London</div>
                </div>
                <div class="job-meta">
                    <div class="title">Founder &amp; Lead Developer</div>
                    <div class="time">2012 - 2013</div>
                </div><!--//job-meta-->
                <div class="job-desc">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo,
                        fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                        venenatis vitae, justo.</p>
                </div><!--//job-desc-->
            </div><!--//item-->

        </div><!--//timeline-->

    </section><!--//section-->

    <section id="eudcation-section" class="education-section section">
        <h2 class="section-title">Education</h2>
        <div class="row">
            <div class="item col-xs-12 col-sm-4">
                <div class="item-inner">
                    <h3 class="degree">MSc Computer Science</h3>
                    <div class="education-body">
                        University College of London
                    </div><!--//education-body-->
                    <div class="time">2016 - 2012</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-xs-12 col-sm-4">
                <div class="item-inner">
                    <h3 class="degree">MSc Applied Mathematics</h3>
                    <div class="education-body">
                        University of Bristol
                    </div><!--//education-body-->
                    <div class="time">2010 - 2016</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-xs-12 col-sm-4">
                <div class="item-inner">
                    <h3 class="degree">BSc Creative Technology</h3>
                    <div class="education-body">
                        University of Bristol
                    </div><!--//education-body-->
                    <div class="time">2007 - 2010</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

        </div><!--//row-->
    </section><!--//section-->


    <section id="skills-section" class="skills-section section text-center">
        <h2 class="section-title">Professional Skills</h2>
        <div class="top-skills">
            <h3 class="subtitle">Top Skills</h3>
            <div class="row">
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="chart-easy-pie text-center">
                            <div class="chart-theme-1 chart" data-percent="55"><span>55</span>%
                            </div>
                        </div>
                        <h4 class="skill-name">Python &amp; Django</h4>
                        <div class="level">Primary, learning</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="chart-easy-pie text-center">
                            <div class="chart-theme-1 chart" data-percent="75"><span>75</span>%</div>
                        </div>
                        <h4 class="skill-name">Java</h4>
                        <div class="level">Advanced,2 years</div>
                        <div class="desc">
                            Undergraduate students have participated in the development of JavaEE project "educational
                            assessment system" and "teacher retraining management system"
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="chart-easy-pie text-center">
                            <div class="chart-theme-1 chart" data-percent="60"><span>60</span>%</div>
                        </div>
                        <h4 class="skill-name">Android</h4>
                        <div class="level">Primary</div>
                        <div class="desc">
                            Undergraduates have presided over the project "campus bike management system", which is an
                            innovative project for College Students
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//top-skills-->

        <div class="other-skills">
            <h3 class="subtitle">Other Skills</h3>
            <div class="misc-skills">
                <span class="skill-tag">NLP</span>
                <span class="skill-tag">Scala</span>
                <span class="skill-tag">HTML5</span>
                <span class="skill-tag">CSS3</span>
                <span class="skill-tag">JavaScript</span>
                <br>
                <span class="skill-tag">Git</span>
                <span class="skill-tag">Linux</span>
                <span class="skill-tag">English</span>
            </div>
        </div><!--//other-skills-->
    </section><!--//skills-section-->

    <section id="contact-section" class="contact-section section">
        <h2 class="section-title">Get in Touch</h2>
        <div class="intro">
            <img class="profile-image" src="{% static 'resume_assets/images/profile-image.png' %}" alt="Concat me">
            <div class="dialog">
                <p>
                    最近发现自己陷入了一种状态，叫开机迷失。开电脑前，该做什么清清楚楚。但只要一登录，随手开个网页，刷下新闻微博甚至仅仅是音乐网站，然后再回过神来，已经到了深夜，要做的事一项没做。而最痛苦的是，在睡前闭眼的时候，整个被浪费的白天和那些被耽误的正事，总会掺杂着负罪感，无比清晰地浮现。</strong></p>
                <ul class="list-unstyled service-list">
                    <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with Django/Python</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with Java/SSH/SSM</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> App development with Android</li>
                </ul>
                <p>Drop me a line at <a href="">jasonhaven@163.com</a>
                <ul class="social list-inline">
                    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-git" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-qq" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-wechat" aria-hidden="true"></i></a></li>
                </ul><!--//social-->
            </div><!--//diaplog-->
        </div><!--//intro-->

    </section><!--//section-->

</div><!--//wrapper-->

<footer class="footer text-center">
    <div class="container">
        <a href="#top">
            <small class="copyright">Copyright &copy; 2017.jasonahven D All rights reserved.</small>
        </a>
    </div><!--//container-->
</footer>

<!-- Javascript -->
<script type="text/javascript" src="{% static 'resume_assets/plugins/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'resume_assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'resume_assets/plugins/back-to-top.js' %}"></script>
<script type="text/javascript"
        src="{% static 'resume_assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'resume_assets/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'resume_assets/plugins/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'resume_assets/plugins/isotope.pkgd.min.js' %}"></script>

<!-- custom js -->
<script type="text/javascript" src="{% static 'resume_assets/js/main.js' %}"></script>

<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
<script src="{% static 'resume_assets/js/demo/style-switcher.js' %}"></script>

</body>
</html>